html, body {
    margin: 0;
    padding: 0;
}

body.prevent-scroll {
    overflow: hidden;
}

header {
    background-color: #232323;
    padding-bottom: 42px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

header h1 {
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 44px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-top: 157px;
}

#search {
    padding: 14px 28px;
    border-radius: 1000px;
    border: none;
    outline: none;
    display: block;
    width: 100%;
    max-width: 519px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 300;
}

#results {
    position: relative;
}

#results .info {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #7A7A7A;
    max-width: 586px;
    margin: auto;
    margin-top: 47px;
    margin-bottom: 18px;
    user-select: none;
}

#results .info span{
    white-space: pre;
}

#results .images {
    display: flex;
    max-width: 586px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
}

#results .images .img {
    width: 174px;
    height: 174px;
    background-image: url("https://images.unsplash.com/photo-1568393691622-c7ba131d63b4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzI5ODd8MHwxfHNlYXJjaHwyM3x8ZG9nfGVufDB8fHx8MTYzNTk1OTA2Nw&ixlib=rb-1.2.1&q=80&w=400%22");
    background-position: center center;
    background-size: cover;
    margin-bottom: 29px;
    /* box-shadow: 2.6px 5.3px 3.3px hsl(0deg 0% 0% / 0.15); */
    transition: transform 0.2s, box-shadow 0.2s, filter 0.2s;
    user-select: none;
    position: relative;
    cursor: pointer;

}

#results .images.grayout .img {
    filter: grayscale(1);
}

#results .images .img:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-out, box-shadow 0.1s ease-out, filter 0.1s ease-out;
    box-shadow: 4.6px 8.1px 13.1px hsl(0deg 0% 0% / 0.15);
    filter: grayscale(0);
}

#results .images .img:hover::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    padding: 10px;
    background-image: url("/images/open.svg");
    background-color: rgba(0,0,0,.5);
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    border-radius: 1000px;
}

#results .navigation {
    position: absolute;
    width: 100%;
    top: 40%;
    transform: translateY(-50%);
    left: 0;
    user-select: none;
}

#results .navigation .left, #results .navigation .right {
    width: 103px;
    height: 103px;
    border-radius: 1000px;
    background: #F9F9F9;
    position: absolute;
    top: 0;
    left:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#results .navigation .left.disabled img, #results .navigation .right.disabled img {
    opacity: 0.2;
} 

#results .navigation .left {
    left: 50%;
    transform: translateX(calc( -50% + -380px));
}


#results .navigation .right {
    left: 50%;
    transform: translateX(calc( -50% + 380px));
}

#results .navigation img {
    width: 50px;
}

#modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#modal .big {
    padding: 15px;
    max-width: 80%;
    max-height: 80%;
    background-color: #fff;
    flex: 1;
    object-fit: contain;
}

#modal.hide {
    display: none;
}

@media only screen and (max-width: 875px) {
    header {
        padding-bottom: 48px;
    }

    header h1 {
      margin-top: 37px;
      font-size: 32px;
      margin-bottom: 37px;
    }

    #search {
        display: block;
        max-width: calc(100% - 32px);
        box-sizing: border-box;
    }

    #results {
        padding-bottom: 100px;
    }

    #results .navigation {
        position: fixed;
        width: 100vw;
        bottom: 0;
        left: 0;
        transform: translateY(0);
        background-color: red;
        top: auto;
        display: flex;
        margin: 0;
        padding: 0;
        z-index: 333;
    }

    #results .navigation .left, #results .navigation .right {
        all: unset;
        height: 66px;
        background-color: #F9F9F9;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    #results .navigation::before {
        content: '';
        background: linear-gradient(#ffffff00, #ffffffd9);
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 50px;
        position: absolute;
    }
}

@media only screen and (max-width: 650px) {
    #results .images {
        margin: 0 8px;
    }

    #results .images .img {
        width: calc(50% - 4px);
        height: 160px;
        margin-bottom: 8px;
    }

    #results .info {
        margin-left: 8px;
        margin-right: 8px;
        width: 100%;
        max-width: none;
    }
}

@media only screen and (max-width: 420px) {
    #results .images {
        margin: 0 8px;
    }

    #results .images .img {
        width: 100%;
        height: 160px;
        margin-bottom: 10px;
    }
}
